body{
    background-image: url('../images/BlurWood.jpg');
    background-repeat:no-repeat;
    background-size: 2100px;
    background-position: center;
}
.opacity{
    background-color: rgba(255, 240, 240, 0.3);
    text-align: center;
}
.align{
    align-content: center;
}
#QuesImage{
    height: 240px;
    width:300px;
}
