body{
    background-image: url('../images/BlurWood.jpg');
    background-repeat:no-repeat;
    background-size: 2100px;
    background-position: center;
}
.opacity{
    background-color: rgba(255, 240, 240, 0.3);
    text-align: center;
}
.align{
    align-content: center;
}
#ImgSize{
    height:300px;
    width:400px;
}
.card{
    margin-bottom: 30px;
}
.card-text{
    text-align: left;
}
.btn{
    margin: 10px 20px 10px 20px;
}